/*Google Fonts*/
*{
	font-family: 'Montserrat', sans-serif;
}


/*Avoiding to scroll*/
body {
    overflow-x: hidden !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/*jumbotron background image*/
.jumbotron{
	background-image: url('assets/images/Balloon.jpg');
	height: 1000px;
	color: floralwhite;
	text-align: center;
	background-repeat: no-repeat;
}


#navbar{
	font-weight: bold;
	font-size: xx-large;
	background-color: rgba(237, 247, 247,0.3);
}

/*Design to all title*/
#AboutMe{
	padding: 30px;
}


/*margin to all section*/
section{
	margin:  20px 50px;
}

/*Footer*/
footer{
	margin-top: 25px;
}

/*Form*/

input, select {
            width: 200px;
            height: 25px;
            margin: 2px;
}

/*For google map*/
.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
