/*Google Fonts*/
*{
	font-family: 'Montserrat', sans-serif;
}


/*Avoiding to scroll*/
body {
    overflow-x: hidden !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/*jumbotron background image*/
.jumbotron{
	color: floralwhite;
	text-align: center;
	background-repeat: no-repeat;
}

.bg-image{
	background-repeat: no-repeat;
}


#navbar{
	font-weight: bold;
	font-size: xx-large;

}



section{
	margin: 0px 50px;
}

/*Design to all title
#AboutMe{
	padding: 30px;
}*/


/*Footer*/
footer{
	margin-top: 25px;
}

/*Form*/

input, select {
            width: 500px;
            height: 25px;
            margin: 2px;
}

/*For google map*/
.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
